@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metropolis&display=swap");

.calosc {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-decoration: solid;
  max-width: 970px;
  min-height: max-content;
  margin-left: auto;
  margin-right: auto;
}

.szesciokaty {
  padding-top: 3%;
  padding-bottom: 3%;
  display: block;
  font-size: 26px;
  text-align: center;
}

.gora {
  background-color: #2f3334;
  background-image: url(/8720181313424/img/left_top.png),
    url(/8720181313424/img/main_top.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 1px;
  height: 61vw;
  max-height: 600px;
  min-height: 550px;
}

.butelki {
  background-color: #343536;
  background-image: url(/8720181313424/img/butelki.png),
    url(/8720181313424/img/tlo_pod_recykling.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  margin-bottom: 1px;
  height: 61vw;
  max-height: 600px;
  min-height: 580px;
  color: aliceblue;

  padding-top: 1em;
  padding-left: 8rem;
  padding-right: 8rem;
}

.lazienka {
  background-color: #2e3132;
  background-image: url(/8720181313424/img/tlo_lazienka.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 1px;
  padding-left: 4%;
  height: 61vw;
  max-height: 600px;
  min-height: 530px;
}

.pasek {
  background-image: url(/8720181313424/img/green_belt.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  height: 53px;
  line-height: 55px;
  text-align: center;
  max-width: 50%;
  min-width: 300px;
  padding-right: 8rem;
  display: inline-block;
}

.tekstnapasku {
  color: aliceblue;
  font-size: 2rem;
  font-weight: 900;
}

.textright {
  text-align: right;
}

.textduzybialy {
  color: aliceblue;
  font-size: 5rem;
  font-weight: 900;
  line-height: 50px;
}

.textzielony {
  color: #77bc23;
}

.textsrednibialy {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: solid;
  line-height: 25px;
}

.kwadraty {
  display: block;
  font-size: 18px;
  text-decoration: double, solid;
  padding: 5%;
}

.kwadraty__obrazy {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 220px;
  min-height: 220px;
}
.kwadraty__obrazy--kwadrat1 {
  background-image: url(/8720181313424/img/kwadrat1.png);
}
.kwadraty__obrazy--kwadrat2 {
  background-image: url(/8720181313424/img/kwadrat2.png);
}
.kwadraty__obrazy--kwadrat3 {
  background-image: url(/8720181313424/img/kwadrat3.png);
}
.kwadraty__obrazy--kwadrat4 {
  background-image: url(/8720181313424/img/kwadrat4.png);
}

.kwadraty__naglowek {
  padding-top: 1em;
  padding-bottom: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.kwadraty__tekst {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-bottom: 1em;
}

.dol {
  background-color: #222627;
  background-image: url(/8720181313424/img/dolny_modul.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  height: 61vw;
  max-height: 670px;
  min-height: 550px;
  display: block;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  text-decoration: solid;
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
